@keyframes floatBubble {
  0% {
    transform: translateY(0); /* 처음 위치 */
  }
  50% {
    transform: translateY(-5px); /* 위로 떠오르는 효과 */
  }
  100% {
    transform: translateY(0); /* 원래 위치로 돌아옴 */
  }
}

.bubble {
  animation: floatBubble 3s ease-in-out infinite; /* 애니메이션 적용 */
}

@keyframes floatBtn {
  0% {
    box-shadow: 0 0 12px 4px rgba(0, 44, 76, 0.10); 
  }
  50% {
    box-shadow: 0 0 12px 4px rgba(0, 44, 76, 0.25); 
  }
  100% {
    box-shadow: 0 0 12px 4px rgba(0, 44, 76, 0.10); 
  }
}
.floatBtn {
    animation: floatBtn 3s ease-in-out infinite; /* 애니메이션 적용 */
}

@keyframes floatBtnBefore {
}
.floatBtnBefore {
    animation: floatBtnBefore 3s ease-in ; /* 애니메이션 적용 */
}

@keyframes floatBtnBeforeText {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 0 0;
  }
}
.floatBtnBeforeText{
  background: linear-gradient(to right,  rgba(13, 153, 255, 0.25), rgba(13, 153, 255, 0.25), rgba(13, 153, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: floatBtnBeforeText 3s linear forwards;
}